RewriteEngine On

# トップページ
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.html [L]

# 拡張子なしでHTMLにアクセス可能
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# URLに.htmlが残っている場合、拡張子なしにリダイレクト（見た目を統一）
RewriteCond %{THE_REQUEST} \s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]
